.header {
  width: 94%;
  height: 0;
  display: none;
  padding: 0 3%;
  justify-content: flex-end;
  align-items: center;
  background-color: #2a2a2a;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #ff8b88;
}
